kestra/prod_flows/ai_concierge-contact_providers.yml
id: contact_providers
namespace: ai_concierge

inputs:
  - id: provider_name
    type: STRING
    defaults: "Service Provider"
  - id: provider_phone
    type: STRING
  - id: service_needed
    type: STRING
    defaults: "plumbing"
  - id: user_criteria
    type: STRING
    defaults: "Need service within 2 days, must be licensed and insured"
  - id: location
    type: STRING
    defaults: "Greenville, SC"
  - id: urgency
    type: STRING
    defaults: "within_2_days"

tasks:
  - id: call_provider_script
    type: io.kestra.plugin.scripts.node.Commands
    containerImage: node:20-alpine
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      volumes:
        - /Users/dave/Work/concierge-ai/kestra/scripts:/kestra
    beforeCommands:
      - npm install @vapi-ai/server-sdk @google/generative-ai
    commands:
      - node /kestra/call-provider.js "{{ inputs.provider_phone }}" "{{ inputs.service_needed }}" "{{ inputs.user_criteria }}" "{{ inputs.location }}" "{{ inputs.provider_name }}" "{{ inputs.urgency }}"
    env:
      VAPI_API_KEY: "{{ secret('vapi_api_key') }}"
      VAPI_PHONE_NUMBER_ID: "{{ secret('vapi_phone_number_id') }}"
      GEMINI_API_KEY: "{{ secret('gemini_api_key') }}"

outputs:
  - id: call_result
    type: STRING
    value: "{{ outputs.call_provider_script.vars.output }}"
